.hero {
    width: 100%;
    max-width: 900px;
    margin-top: 26px;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    padding: 0 36px;
}

.hero__poster {
    flex: 1 1 auto;
    background-image: url("/src/assets/images/photo-grid.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: 300px;
    height: min(50vh, 40vw);
    margin-bottom: 32px;
}

.hero__heading {
    font-size: 2.1rem;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 16px;
}

.hero__description {
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 300;
    max-width: 320px;
}